@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}

.all {
    background-color: grey;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
    margin: 0px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.div1 {
    width: 43vw;
}

.div2 {
    width: 43vw;
}

.div3 {
    width: 20vw;
}

.div4 {
    width: 65vw;
}

.div5 {
    width: 90vw;
}
